.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #218B01;
  color: floralwhite;
}

.navbar-inverse {
  background: #eeeeee;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #218B01;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #218B01;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #218B01;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #218B01;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #218B01;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #218B01;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #218B01;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #eeeeee;
  color: #eeeeee;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}

.tab-pane{
  height:300px;
  overflow-x:scroll;
  width:100%;
}

.btn-submit {
    padding: 18px 28px;
    font-size: 22px;
    border: 5px solid #218B01;
    line-height: normal;
    background: #218B01;
    width: 250px;
    color:white;
    
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

.btn-submit:hover {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    background: white;
    width: 250px;
    border: 5px solid #218B01;
    color:#218B01;
    
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

.carousel_card{
    border: 5px solid #218B01;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    background-color: #218B01;
    color: #fff;
}

.carousel_card:hover {
    background: #fff;
    border: 5px solid white;
    color: #218B01;
    box-shadow: 10px 10px 5px grey;
}

/*
.selection_label {
    opacity: 0.8;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
*/

.carousel_card_selected {
    border: 3px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #fff;
    color: #218B01;
}
