<div class="container" ng-controller="ConfirmPageController">
<!--    Flavors carrousel-->
    <div class = "row row-content">
        <div class="col-xs-12">
            <h1>Thank you so much!</h1>
            <h3>Our team of data scientist will analize your preferences to provide you with the strains that best fit your needs. We'll get back to you soon.</h3>
        </div>
    </div>
</div>