    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" ng-init="openLogin()">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a class="navbar-brand" ui-sref="app"><img src="images/ppb_navbar.png" height=30 width=127></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    <li><a ui-sref="app.aboutus">
                        <span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span> About</a></li>
                    <li><a ui-sref="app.strains">
                         <span class="glyphicon glyphicon-list-alt"
                         aria-hidden="true"></span>
                          Strains</a></li>
                     <li><a ui-sref="app.contactus">
                     <i class="fa fa-envelope-o"></i> Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class = "container">
            <div class = "row">
                 <div class="col-xs-12 col-sm-8">
                    <h1>Puff Puff Box</h1>
                    <p style="padding:10px;"></p>
                    <p>Welcome to your tailored exclusive cannabis club. We send you, on regular interval, the perfect strains for the type of highs you are looking for. Help us know what you like the most in your green...</p>
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                <img src="images/PPB_logo.jpeg" class="img-responsive">
                </div>
            </div>
        </div>
    </header>